<div class="row">
  <div class="col-sm-12">
    <div class="auth-main">
      <div class="auth-wrapper v3">
        <div class="auth-form">
          <div class="card my-5">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-end mb-4">
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="product_id">Seleccionar Producto*</label>
                <select class="form-select" id="product_id" [(ngModel)]="selectedProductId">
                  <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="en_reinversion">En Reinversión*</label>
                <select class="form-select" id="en_reinversion" [(ngModel)]="enReinversion">
                  <option value="true">Si</option>
                  <option value="false">No</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="plazo">Plazo de días*</label>
                <input type="number" class="form-control" id="plazo" [(ngModel)]="plazo" placeholder="Plazo" />
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="fecha_creacion">Fecha de Creación*</label>
                <input type="datetime-local" class="form-control" id="fecha_creacion" [(ngModel)]="fechaCreacion" placeholder="Fecha de Creación" />
              </div>
              <div class="d-grid mt-3">
                <button type="button" class="btn btn-primary" (click)="calcularInversion()">Calcular Inversión</button>
              </div>
              <!-- Panel para mostrar el resultado -->
             <!-- Panel para mostrar el resultado -->
<div *ngIf="resultadoInversion" class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Resultado de la inversión</h5>
    <p class="card-text">Fecha de inicio: {{ resultadoInversion.fechaInicio }}</p>
    <p class="card-text">Fecha de fin: {{ resultadoInversion.fechaFin }}</p>
    <p class="card-text">Plazo: {{ resultadoInversion.plazo }} días</p>
    <p class="card-text">Plazo real: {{ resultadoInversion.plazoReal }} días</p>
    <p class="card-text">Producto ID: {{ resultadoInversion.product_id }}</p>
    <!-- Agrega más detalles según tus necesidades -->
  </div>
</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
