<!-- login.component.html -->
<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Alpha Calculator</b></h3>
          </div>
          <div *ngIf="loginError" class="alert alert-danger" role="alert">
            {{ loginError }}
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="email">Usuario</label>
            <input type="email" class="form-control" id="email" placeholder="Nombre de usuario" [(ngModel)]="username" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Clave</label>
            <input type="password" class="form-control" id="password" placeholder="Clave"  [(ngModel)]="password" />
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary" (click)="login()">Entrar</button>
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">By © <a href="https://github.com/rrodriguezreyes" target="_blank">Ricardo Rodriguez</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
